body {
    font-family: 'Nanum Gothic', sans-serif;

}

.intro {
    background-image: url(img/massive_donate.jpg);
    background-size: cover;
    background-attachment: relative;
    margin: -8px;

}

.front {
    text-align: center;
    color: white;

}

.yellow-color {
    color: yellow;
}

.front h1 {
    font-weight: bold;
    font-size: 60px;

}

.front p {
    text-align: center;
    font-size: x-large;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Kantumruy Pro', sans-serif;
    font-family: 'Poppins', sans-serif;

}



.front a {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-image: linear-gradient(rgb(227, 81, 3), tomato);
    padding: 15px 30px;
    border: gainsboro;
    border-radius: 5px;
}

.donate h1 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.donate p {
    text-align: center;
    font-size: larger;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}

.amount {
    display: flex;
    justify-content: center;
}

.amount p {
    font-size: 30px;
    font-weight: 600;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 40px;
    margin: 20px;

}

#two-hundred-dollars {
    border: 2px solid tomato;
    background-color: #B5E5FB;

}

.donate-now input {
    margin-left: 45%;
    margin-top: 50px;
    font-size: 20px;
    border: none;
}

.donate-now hr {
    width: 50%;
    border: 0.5px solid gray;

}

.donate-now a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-image: linear-gradient(rgb(227, 81, 3), tomato);
    padding: 10px 20px;
    border: gainsboro;
    border-radius: 5px;
    margin-left: 46%;

}

.mission h1 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-top: 150px;
}

.mission p {
    text-align: justify;
    font-size: larger;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}

.flexible-container {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;


}

.activity-grid {

    width: 40%;
    margin: 15px;
    padding: 20px;
    border-radius: 5px;

}

.activities h3 {
    font-family: 'Montserrat', sans-serif;
    color: brown;
}

.activities img {
    height: 150px;
    width: 150px;
}

.activities p {
    text-align: justify;
}

#food {
    background-color: #b5e5fb;
}

#education {
    background-color: pink;
}

#shelter {
    background-color: bisque;
}