body {
    font-family: 'Nanum Gothic', sans-serif;

}

.intro {
    background-image: url(img/massive_donate.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: -8px;

}

.front {
    text-align: center;
    color: white;

}

.yellow-color {
    color: yellow;
}

.front h1 {
    font-weight: bold;
    font-size: 60px;

}

.front p {
    text-align: center;
    font-size: x-large;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Kantumruy Pro', sans-serif;
    font-family: 'Poppins', sans-serif;

}



.front a {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-image: linear-gradient(rgb(227, 81, 3), tomato);
    padding: 15px 30px;
    border: gainsboro;
    border-radius: 5px;
}

.donate h1 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.donate p {
    text-align: center;
    font-size: larger;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Poppins', sans-serif;
}